h1 {
    color: darkred;
    font-family: "Arial Black"
    font-size: xx-large;
    //kleuraangepast!
}

.paragraph {
    font: oblique;
    font-family: Century;
    font-size: medium;
}

article {
    width: 500px;
text-align: justify}