h1 {
    color: darkslategrey;
    font-family: "Arial Black"
    font-size: xx-large;
}

.paragraph {
    font: oblique;
    font-family: Century;
    font-size: medium;
}

article {
    width: 500px;
text-align: justify}asassa